/* common shared stayls */
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color:#FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-style: normal;
    font-weight: 700;
    color:#fff;
    padding:15px 35px;
}

/* nav realated stayls */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-tytle{
    color: #181818;

    
    font-size: 45px;
    
    font-weight: 800;
    
}
nav > ul{
    display:flex;
   
}
nav li{
    list-style:none;
    margin-right:50px;
}
nav a{
    text-decoration:none;
    color:#474747;
}
/* header realated styles */
.header{
    background-color: #fff8f3;
}
.banner{
    padding:30px 30px 30px 150px;
    display:flex;
    align-items: center;
}
.banner .profile-pic{
    width:500px;
}